# Архивы, дистрибутивы
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Логи
*.log

# Спецфайлы операционных систем
Thumbs.db
Desktop.ini
.DS_Store*
ehthumbs.db
Icon?

# Модули Node, логи npm
node_modules
npm-debug.log
debug.log

# nbproject
nbproject

# Файлы результатов тестов

screenshots
logs
temp
